<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanyao.passwordmanager">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CheckPowerActivity" />
        <activity android:name=".activity.LocalUserRegistActivity" />
        <activity android:name=".activity.AddPasswordActivity" />
        <activity android:name=".activity.DisplayPasswordActivity" />
        <activity android:name=".activity.AutoPasswordActivity" />
        <activity android:name=".activity.ModifyPasswordActivity" />
        <activity android:name=".activity.AutoModifyPasswordActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.ShowInformationActivity" />
        <activity android:name=".activity.InputActivity"></activity>
    </application>

</manifest>
